*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

:root {
    --hatter : rgb(255, 240, 188);
    --sotetHatter: rgb(255, 225, 117);

    --simaNyar: rgb(255, 177, 87);
    --zartNyar: rgb(240, 90, 40);
    --hoverNyar: rgb(244, 153, 50);

    --simaEg: rgb(142, 167, 233);
    --zartEg: rgb(59, 75, 139);
    --hoverEg: rgb(89, 110, 174);

    --simaErdo: rgb(91, 173, 40);
    --zartErdo: rgb(18, 92, 19);
    --hoverErdo: rgb(62, 124, 23);
}

body {
    background-image: url("./src/cat_bg.jpg");
    backdrop-filter: saturate(200%) blur(2px);
    background-size: 20rem;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leiras, #ranglista {
    z-index: 5;
    position: relative;
    border: 1px solid black;
    background-color: var(--hatter);
    min-height: 200px;
    width: 700px;
    border-radius: 3rem;
    margin: 25px;
}

#leiras {
    margin-top: 50px;
    display: grid;
}

h1 {
    font-size: 5rem;
    color: white;
    padding: 10px;
    border-radius: 3rem;
    text-align: center;
    text-shadow: 3px 3px 1px black;
    backdrop-filter: grayscale(-80%) blur(3px);
    filter: drop-shadow(1px 1px 5px black);
}

aside h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
    width: inherit;
    top: -40px;
    text-shadow: 3px 3px 1px black;
    filter: drop-shadow(1px 1px 5px black);
}

#leiras p {
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px;
}

#leiras p:nth-child(2) {
    margin-top: 20px;
}

#leiras p:nth-child(4) {
    margin-bottom: 20px;
}

#ranglista {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ranglista section {
    width: 100%;
}

#ranglista h3 {
    text-align: center;
    padding: 10px;
    background-color: var(--sotetHatter);
    border-radius: 1rem;
    width: 300px;
}

#ranglista p {
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
}

.datum {
    text-align: center;
    width: 100px;
}

.nev {
    padding-left: 0;
    text-align: center;
    width: 400px;
}

.pontSzam {
    text-align: center;
    width: 100px;
}

#valaszto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 1rem;
    width: 100%;
}

.kerdesBlokk {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    background-color: var(--sotetHatter);
}

.kerdes {
    font-weight: bold;
    height: 42px;
    padding: 0.5rem;
}

#area {
    grid-column: 1;
    position: relative;
    border: solid 1px black;
    border-radius: 3rem;
    overflow: hidden;
    min-height: 650px;
    min-width: 700px;
    margin: 15px;
    display: grid;
    background-color: var(--hatter);
}

#szamlalo {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2rem;
}

#jatek {
    margin: auto;
}

.oval {
    height: 30px;
    width: 40px;
    border-radius: 50%;
    margin: 2.5px;
    display: inline-block;
}

.sarok, .szel {
    visibility: hidden;
}

.simaEg {
    background-color: var(--simaEg);
}

.simaClickedEg {
    background-color: var(--simaEg);
}

.simaEg:hover {
    background-color: var(--hoverEg);
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}

.zartEg {
    background-color: var(--zartEg);
    box-shadow: 3px 3px 3px;
}

.cicaRajtaVanEg {
    background-color: var(--simaEg);
}

.simaErdo {
    background-color: var(--simaErdo);
}

.simaClickedErdo {
    background-color: var(--simaErdo);
}

.simaErdo:hover {
    background-color: var(--hoverErdo);
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}

.zartErdo {
    background-color: var(--zartErdo);
    box-shadow: 3px 3px 3px;
}

.cicaRajtaVanErdo {
    background-color: var(--simaErdo);
}

.simaNyar {
    background-color: var(--simaNyar);
}

.simaClickedNyar {
    background-color: var(--simaNyar);
}

.simaNyar:hover {
    background-color: var(--hoverNyar);
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}

.zartNyar {
    background-color: var(--zartNyar);
    box-shadow: 3px 3px 3px;
}

.cicaRajtaVanNyar {
    background-color: var(--simaNyar);
}

.cica {
    width: 45px;
    z-index: 100;
    float: left;
    position: relative;
    top: -20px;
    pointer-events: none;
}

.ujra, .mentesGomb {
    font-size: 2.5rem;
    text-align: center;
    opacity: 0;
    border: solid 3px brown;
    border-radius: 20px;
    box-shadow: 2px 2px brown;
    padding: 10px 20px;
    margin: auto;
    width: fit-content;
    -webkit-transition: all 0.1s; 
    -moz-transition: all 0.1s; 
    -ms-transition: all 0.1s; 
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.ujra:active, .mentesGomb:active {
    background-color: brown;
    color: white;
    box-shadow: 2px 2px black inset;
}

.vesztes {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    opacity: 0;
}

.nyertesSzoveg {
    font-size: 2.5rem;

    text-align: center;
    opacity: 0;
}

.nevInput {
    width: 500px;
    border: 3px brown solid;
    background-color: var(--sotetHatter);
    border-radius: 1rem;
    text-align: center;
    font-size: 2.5rem;
    opacity: 0;
}

.ujra:hover, .mentesGomb:hover, #mute:hover, #reset:hover {
    cursor: pointer;
}

#mute:active, #reset:active {
    border: solid 2px lightseagreen;
}

#mute {
    display: none;
    position: absolute;
    right: 1rem;
    top: 15px;
    width: 3rem;
    border-radius: 3rem;
}

#reset {
    display: none;
    position: absolute;
    right: 1rem;
    top: 4.5rem;
    width: 3rem;
    border-radius: 3rem;
}

label {
    text-align: center;
    font-size: 1.2rem;
}

.gomb {
    margin: 10px auto;
    cursor: pointer;
    font-weight: bold;
    border: solid brown 2px;
    box-shadow: 2px 2px brown;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 5px 15px;
    -webkit-transition: all 0.1s; 
    -moz-transition: all 0.1s; 
    -ms-transition: all 0.1s; 
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.gomb:active {
    background-color: brown;
    color: white;
    box-shadow: 2px 2px black inset;
}

#space {
    margin: auto;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    width: 100px;
    -webkit-transition: all 0.1s; 
    -moz-transition: all 0.1s; 
    -ms-transition: all 0.1s; 
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border-radius: 1rem;
}

[type=radio] + img:active {
    background-color: brown;
}
  
[type=radio]:checked + img {
    outline: 3px solid brown;
    filter: drop-shadow(2px 2px  2px brown);
}

i {
    opacity: 0.8;
}

@media screen and (min-width: 1600px) {
    #wrapper {
        flex-direction: row;
    }

    #leiras, #ranglista {
        max-width: 420px;
        height: 650px;
        margin: 0;
    }

    aside h2 {
        width: 420px;
    }

    .nev {
        text-align: left;
        padding-left: 15px;
    }

}